.banners {
  margin-bottom: 16px;
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 568px;
        height: 240px;
        &--1 {
            background-color: @white;
        }
        &--2 {
            background-color: @orange-300;
        }
    }

    &__title {
        position: relative;
        text-align: center;
        margin: 0 auto;
        width: 260px;
        background-color: white;
        box-shadow: 1px 2px 4px 0 rgba(49, 49, 47, .3);
        border-radius: 0 0 4px 4px;

        &::after {
            position: absolute;
            content: '';
            margin-left: 10px;
            background-image: url("@{baseDir}/images/alarm.svg");
            width: 20px;
            height: 20px;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__content {
        &--2 {
            position: relative;
            height: 180px;
            width: 240px;
            margin: 0 0 0 24px;
        }
    }

    &__image {
        width: 160px;
        height: 170px;
        background-repeat: no-repeat;
        background-size: contain;

        &--1 {
            background-image: url("@{baseDir}images/banners/1.jpg");
        }
        &--2 {
            width: 395px;
            height: 234px;
            background-size: cover;
            background-position: center center;
            background-image: url("@{baseDir}images/banners/2.jpg");
        }
    }

    &__subtitle {
        &--1 {
            font-weight: 600;
            margin-bottom: 16px;
        }

        &--2 {
            color: @blue-900;
            font-size: 24px;
            font-weight: 900;
        }
    }

    &__text {
        color: @blue-900;
        font-size: 21px;
        font-weight: 300;
    }

    &__button {
        font-size: 14px;
        background-color: @blue-600;
        color: @white;
        
        &--1 {
          padding: 15px;
          &:hover {
            transform: scale(1.1);
          }
        }
        &--2 {
            position: absolute;
            bottom: 0;
        }
    }

    #banners__btn {
      box-shadow: 0 4px 0 -2px rgba(3,3,26, .25);
    }
}
