.catalogue-products {
    &__wrapper {
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1220px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
    &__item {
        }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img {
            width: 180px;
            height: 200px;
        }
    }
    &__link {
      
    }
}
