.style {
    &__label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &:active {
          color: @blue-600;
        }
        &:hover {
          color: @blue-600;
        }
    }

    &__checkbox {
      width: 24px;
      height: 24px;
          &:hover {
            background-color: pink;
          }
        }

}
