.style {
    &__label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        &:hover {
            color: @blue-600;
        }
        .active {
            color: pink;
        }
        #text {
            margin-right: 8px;
        }
    }

    &__checkbox {
        width: 24px;
        height: 24px;
        padding: 8px;
        margin-right: 8px;
        border: 2px solid @blue-600;
    }

    input {
        cursor: pointer;
        background-color: violet;
    }
}
