.page-header {
    background-color: @blue-900;
}

.header {
    &.content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1280px;
        padding: 0 15px;
        margin: 0 auto;
        height: 68px;
    }
}

.logo {
    margin: 0 0 12px;
}

.block {
    &.block-search {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: auto;
        margin-right: auto;
        height: 48px;
        width: 625px;
        max-width: 100%;
        background-color: @white;
        border-radius: 24px;
        cursor: pointer;

        input {
            background-color: transparent;
            width: 550px;
            height: 48px;
        }

        .input-text {
            &::placeholder {
                opacity: 0.33;
            }
        }
    }
}
.block-search .action.search {
    display: flex;
    top: 20%;
    right: 5%;
}

.block-search .action.search[disabled] {
    opacity: 1;
}

.block-search .action.search:before {
    font-size: 20px;
    color: @blue-900;
    position: absolute;
}


.block-search .control {
    border-top: none;
}

.authorization-link {
    width: 50px;
    margin-right: 4px;
    color: @white;
    text-decoration: transparent;
    transition: text-decoration 0.5s;

    &:focus,
    &:hover {
        text-decoration: underline;
    }
}

.wishlist {
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: 4px;
        float: right;
        border-radius: 50%;
        transition: background-color 0.5s;

        &:hover {
            border-radius: 50%;
            background-color: @black-900;
        }
    }
}

.minicart-wrapper {
  margin-left: 0;
}

.minicart-wrapper .action.showcart::before {
  color: @white;
}

.minicart-wrapper .action.showcart:hover:before {
  color: @white;
}

.minicart-wrapper .action.showcart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.5s;
    &:hover {
        color: @white;
        border-radius: 50%;
        background-color: @black-900;
    }
}
