.materials {
    .slick-list {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    .slick-slide {
        &:not(:last-child) {
            margin-right: 19px;
        }
    }
    &__image {
        max-width: 141px;
    }

    &__text {
        font-size: 16px;
        cursor: pointer;
    }
}
