.shop-look {

    margin-bottom: 40px;
    &__image {
        height: 168px;
        width: 230px;
        border-radius: 50%;
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }

    &__txt {
        font-size: 16px;
        color: @blue-600;

        &::before {
            content: ">";
            display: inline-block;
            width: 21px;
            height: 21px;
            margin-right: 8px;
        }
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 17px;
    }

    .slick-next,
    .slick-prev {
        top: 50%;
        width: 35px;
        height: 35px;
        background-color: @white;
        border-radius: 4px;

        &:before {
            content: "<";
            font-size: 25px;
            font-weight: 800;
            line-height: 1.25;
            color: @blue-600;
        }
    }
    .slick-next {
        &::before {
            content: ">";
        }
    }

    .slick-track {
      margin-bottom: 40px;
    }

    .slick-list {
      display: flex;
      max-width: 1220px;
      padding: 0 10px;
      margin: 0 auto;
    }
}

// pagebuilder-column-group slick-initialized slick-slider
