.filters {
    &__list {
        input.filters__checkbox[type="checkbox"] {
            appearance: none;
            width: 24px;
            height: 24px;
            margin-right: 8px;
            border: 1px solid rgba(179, 179, 186, 0.5);
            &:hover {
                border: 2px solid @blue-600;
            }
        }
    }

    &__label,
    &__count {
        display: flex;
        align-items: center;
        cursor: pointer;
        a {
          display: flex;
        }
        &:hover {
            color: @blue-600;
        }
    }

    &__count {
        font-size: 10px;
    }

    // &__button-more {
    //     position: relative;
    //     padding: 5px 0 0 24px;
    //     font-size: 16px;
    // } input.filters__checkbox[type="checkbox"] {
    //     appearance: none;
    //     width: 24px;
    //     height: 24px;
    //     margin-right: 8px;
    //     border: 1px solid rgba(179, 179, 186, 0.5);
    //     &:hover {
    //         border: 2px solid @blue-600;
    //     }
    // }

}

.filter-options-content a {
    &:hover {
        background-color: transparent;
        color: @blue-600;
    }
}

.filter-options-content.filters__show .filters__list {
    .filters__hidden {
        display: block;
    }
}

.filters__list {
    height: fit-content;
    .filters__hidden {
        display: none;
    }
}

#filters-button-more {
    position: relative;
    padding: 5px 0 0 24px;
    color: @blue-600;
    font-size: 16px;
    text-decoration: transparent;
}
