// cart wrapper
.checkout-cart-index {
    .cart-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    .checkout-cart-index .cart-container .form-cart {
        position: absolute;
        top: 300px;
        width: 66%;
    }

    .cart-container .form-cart .actions.main {
        width: 26%;
        float: left;
    }

    .abs-shopping-cart-items-desktop,
    .block-cart-failed,
    .cart-container .form-cart,
    .cart-container .cart-gift-item {
        position: absolute;
    }

    .cart.table-wrapper .item .col.item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cart.table-wrapper .product-item-details {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .cart__info.item-info {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 94%;
    }

    .cart__item-info {
        margin-right: 45%;
    }

    // End cart wrapper

    //cart image
    .cart__image-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .product-image-photo {
        width: 80%;
        height: 50%;
    }

    .cart.table-wrapper .product-item-photo {
        display: table;
    }

    .cart__name-link {
        font-size: 14px;
        font-weight: 600;
    }
    //End cart image

    // Cart item name

    .cart.table-wrapper .product-item-name {
        margin: 0;
    }

    .cart.table-wrapper .product-item-name + .item-options {
        margin-top: 0;
    }

    // End Cart item name

    .cart.table-wrapper .item-options dt,
    .cart.table-wrapper .item-options dd {
        margin: 0;
    }

    .cart.table-wrapper .product-item-details {
        display: flex;
        padding-bottom: 0;
        width: 80%;
    }

    .cart.table-wrapper .items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .cart.table-wrapper .cart > .item {
        border-top: none;
        border-bottom: transparent;
    }

    .cart-discount .block > .title {
        display: none;
    }

    .cart.table-wrapper .col.qty {
        padding: 0;
    }

    // delete button
    .cart.table-wrapper .actions-toolbar > .action-edit:before,
    .cart.table-wrapper .actions-toolbar > .action-delete:before {
        position: absolute;
        left: 184px;
    }
    // delete button

    // edit button
    .cart.table-wrapper .actions-toolbar > .action-edit,
    .cart.table-wrapper .actions-toolbar > .action-delete {
        right: -60px;
    }
    // edit button

    // Summary

    .cart-summary {
        position: static;
        border-radius: 10px;
        border: 1px solid @gray-100;
        background-color: @cream;
        order: 1;
    }

    cart-summary._sticky {
        top: 180px;
        z-index: 1;
    }

    .cart-summary .checkout-methods-items .action.primary.checkout {
        width: 80%;
        background-color: @orange-200;
        color: @darkColor;
        border: 1px solid @orange-300;
    }

    // End Summary

    // MORE PRODUCTS

    .products.wrapper.grid.products-grid.products-crosssell,
    .block-title.title {
        display: none;
    }

    // MORE PRODUCTS
}
