.wishlist {
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: 4px;
        float: right;
        border-radius: 50%;
        transition: background-color 0.5s;

        &:hover {
            color: @white;
            background-color: rgba(255, 227, 195, 0.986);
        }
    }
}

.add.wishlist .counter.qty {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: -7px;
    right: -19px;
    width: 20px;
    height: 20px;
    color: @white;
    background-color: @orange-700;
    border-radius: 50%;
    overflow: hidden;
    &::after,
    &::before {
        content: '';
    }
}

.add.wishlist {
    position: relative;
    &::after,
    &::before {
        content: '';
    }
}
