.catalog-category-view,
.catalogsearch-result-index {
    //for grid and list
    .catalogue-products {
        &__wrapper {
            margin: 0 auto;
            padding: 0 15px;
            max-width: 1220px;
        }
        &__info {
            display: flex;
            justify-content: space-between;
        }
        &__name {
            display: inline-block;
            margin-bottom: 16px;
        }
        &__text {
            margin-bottom: 4px;
        }
        &__link {
            font-weight: 600;
        }
        &__button {
            &-compare {
                display: flex;
                justify-content: space-around;
                align-items: center;

                a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
        &__compare-checkbox {
            position: relative;
            width: 20px;
            height: 20px;
            border: 1px solid @darkColor;
            margin-right: 10px;
        }
        &__compare-checkbox::before {
            content: '\e610';
            display: block;
            font-family: 'luma-icons';
            font-size: 12px;
            text-align: center;
            color: transparent;
        }

        &__compare-checkbox:active::before {
            background-color: @blue-600;
            color: @white;
        }

        // &__button-compare::before {
        //     content: '';
        //     display: block;
        //     width: 20px;
        //     height: 20px;
        //     border: 1px solid @darkColor;
        // }

        &__description {
            margin: 0 20px 0 0;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            width: 450px;
            color: @gray;
            cursor: pointer;
        }
        &__button-more {
            color: @blue-600;
        }
        &__some-text {
            margin-bottom: 10px;
            color: @lightGreen;
        }
        &__form {
            display: flex;
            flex-direction: column;
            justify-content: left;
        }
        &__btn {
            display: flex;
            justify-content: left;
            align-items: center;
        }
        &__button-cart {
            display: flex !important;
            align-items: center;
            justify-content: space-around;
            margin-right: 10px;
            width: 82px;
            height: 48px;
            background-color: @yellow-600 !important;
            border: 1px solid transparent !important;
            box-shadow: 0 4px 0 -2px rgba(3,3,26,.25) !important;
            transition: background-color 0.5s;
            &::before {
                content: "+";
                font-size: 31px;
                color: @darkColor;
            }
            &:hover {
                background-color: @yellow-400 !important;
            }
        }
        &__wishlist-link {
            height: 21px;
            width: 24px;
        }
        &__cart-icon {
            height: 21px;
            width: 21px;
            stroke-width: 3;
            stroke: @darkColor;
            fill: transparent;
        }
        &__wishlist-item {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid transparent;
            width: 48px;
            height: 48px;
            transition: border 0.5s;
            &:hover {
                border: 2px solid @blue-600;
            }
        }
        &__wish-icon {
            width: 23px;
            height: 21px;
            fill: transparent;
            stroke-width: 2;
            stroke: @blue-600;
        }
    }
    //for grid
    .products-grid {
        .catalogue-products {
            &__list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 24px;
            }
            &__info {
                flex-direction: column;
                height: 604px;
            }
            &__button {
              &-compare {
                justify-content: left;
              }
            }
            &__box-image {
                margin-bottom: 10px;
            }
        }
        .product-item-inner {
            position: relative;
            border: transparent;
            box-shadow: none;
            padding: 0;
        }
    }

    //for list
    .products-list {
        .catalogue-products {
            &__list {
                display: flex;
                flex-direction: column;
            }
            &__info {
                justify-content: flex-start;
            }
            &__button {
                &-compare {
                  max-width: 170px;
                }
            }

            &__compare-text {
                max-width: 115px;
            }
            &__box-descr {
                display: flex;
            }
            &__descr-inner {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            &__text-more {
                display: flex;
                margin-right: 40px;
                justify-content: space-between;
                align-items: flex-end;
            }
        }
    }
}

.price-box {
    font-size: 26px;
    font-weight: 700;
    color: @red;
}
.product-image-photo {
    width: 200px;
    height: 250px;
}

.product-image-wrapper {
    margin: 0;
}

.product-item-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
