.toolbar-sorter {
    &__box {
        display: flex;
        align-items: center;
    }
    .sorter-label {
      margin-right: 10px;
    }
    &__button {
        width: 18px;
        height: 18px;
    }
    &__icon {
        }
}