.toolbar-sorter {
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sorter-label {
        margin-right: 10px;
    }
    &__button-info {
        width: 18px;
        height: 18px;
    }
    &__icon {
        width: 18px;
        height: 18px;
    }
    #toolbar-modal {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 100px;
        padding: 20px;
        width: 60%;
        height: 55%;
        border: 1px solid #888888;
        background-color: #fefefe;
        overflow: hidden;
        opacity: 0;
        transform: scale(0);
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out,
            z-index 0.5s ease-in-out;
        z-index: -1;
        &__close {
            position: absolute;
            top: 0;
            right: 20px;
            font-size: 32px;
            color: @blue-600;
        }
    }
    #toolbar-modal.active {
        opacity: 1;
        transform: scale(1);
        z-index: 5;
    }

    #toolbar-sorter__overlay {
        opacity: 0;
    }
    #toolbar-sorter__overlay.active {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding-top: 100px;
        background-color: rgba(0, 0, 0, 0.4);
        overflow: auto;
        opacity: 1;
        z-index: 4;
    }
    #sorter {
        max-width: 175px;
        width: 100%;
        padding: 4px 30px 4px 2px;
        margin-right: 20px;
        box-shadow: none;
        background-color: transparent;
        border-radius: 0;
        border: 1px solid @lightGray;
        overflow: hidden;
        transition: border 0.5s;
    }
    #sorter:focus {
        border: 1px solid @blue-600;
    }
}
.page-products .sorter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sorter-action:before {
    display: none;
}
